﻿<div class="App-header">
  <div class="back">
    <a routerLink="/" [hidden]="!showBack">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
  </div>
  <div class="logo">
    <img src="assets/images/logo_squirt_sm_x2.png" class="App-logo" alt="logo" />
  </div>

</div>