﻿@import "../Common/variables.scss";
@import "../Common/Forms.scss";

* {
  box-sizing: border-box;
}

.App-header {
  background-color: $color-squirtred;
  height: 50px;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  > div {
    height: 50px;
  }

  .back {
    i {
      color:white;
      font-size: 30px;
      margin-top: 8px;
    }
  }

  .logo {
    img {
      height: 100%;
    }
  }
}
