﻿@import "../../Common/Variables.scss";

.option-dots {
   float: right;

   i {
      padding: 0 5px;
   }

   i .fa-thumbs-up:hover {
      color: $color-green;
   }
}

a {
   text-decoration:unset;
}
