﻿@import "Forms.scss"; 

*, body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

h1 {
    font-size: 35px;
    padding: 10px 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: underline;
}

ul {
    li {
        padding: 2px 5px;
    }
}

.hidden {
    display: none;
}

.shown {
    display: inherit;
}