@import "variables.scss";

form {

    input[type="text"]{
        border: none;
        padding: 4px;
        border-radius: 2px;
        font-size: 13px;
    }

    button {
        border: none;
        padding: 4px;
        border-radius: 2px;
        background: white;
    }

    button.alternate {
        color: white;
        background: black;
    }
}