﻿
$color-squirtred: #dd0619;
$color-squirtreddark: #9A0813;

$color-darkgrey: #333;
$color-darkergrey: #222;
$color-darkishgrey: #262626;
$color-mediumgrey: #363636;
$color-lightgrey: #ccc;
$color-lightestgrey: #eee;
$color-emphasise: orange;
$color-green: #08D312;
$color-darkergreen:#05900c;

$white: white;
$black: black;
$light-grey: grey;
$near-black: #212121;


// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: ( mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px, desktopAd: 810px, mobileLandscape: 480px );

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
//$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

@import '../Common/_mq.scss';