﻿<p>
  Viewing Scorecards for member: {{username}}
</p>

<div class="scorecard-list">
  <div class="scorecard" *ngFor="let scorecard of scorecards">
    <div class="profile-name">
      <a href="#">
        {{scorecard.fromUsername}}
      </a>
      <app-approve-disaprove *ngIf="canShowManageControl()"  (onScorecardAdded)="onScorecardAdded($event)" (onApprove)="onApproveScorecard(scorecard.id)" (onDisaprove)="onDisaproveScorecard(scorecard.id)"></app-approve-disaprove>
    </div>
    <div class="profile-image">
      <img src="{{scorecard.imgUrl}}" alt="image of {{scorecard.fromUsername}}" />
    </div>
    <p>{{scorecard.message}}</p>
    <br />
    <div class="timestamp">
      {{scorecard.timestamp}}
    </div>
  </div>
   <app-add-scorecard *ngIf="canShowAddControl()">

   </app-add-scorecard>
</div>
<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()">
</div>