﻿@import "../Common/Variables.scss";



.scorecard-list {
  display: grid;

  @include mq($until: mobileLandscape) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mq($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  .scorecard {
    width: 1fr;
    border-radius: 4px;
    margin: 5px;
    background-color: $color-darkishgrey;
    position: relative;

    .profile-image {
      float: left;
      padding: 10px;
    }

    .profile-name {
      background-color: $color-mediumgrey;
      padding: 10px;
      border-radius: 4px;
      font-weight: bold;
      display: block;
    }

    .option-dots {
      float: right;

      i {
        padding: 0 5px;
      }

      i .fa-thumbs-up:hover {
        color: $color-green;
      }
    }

    p {
      padding: 10px;
      color: $color-lightgrey;
    }

    .timestamp {
      font-size: 12px;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}
