﻿<div class="submission-area">

   <div class="open-submission-form">
      <a  (click)="showForm = !showForm">
         <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
   </div>

   <div class="form-container" [hidden]="!showForm">
      <div class="form-wrapper" [hidden]="submitted">
         <div class="title">
            Add Scorecard
         </div>
         <div class="content">
            <form #scorecardForm="ngForm" (ngSubmit)="onSubmit()">
               <textarea type="text" name="message" [(ngModel)]="model.message" required #message="ngModel"></textarea>
               <div class="error-wrapper">
                  <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
                     Message is required
                  </div>
               </div>
               <div class="form-buttons">
                  <button class="ok" type="submit" [disabled]="!scorecardForm.form.valid">Send</button>
                  <button class="cancel" (click)="showForm = false">Cancel</button>
               </div>
            </form>
         </div>
      </div>

      <div class="loading" [hidden]="!loading">

         <div class="form-wrapper">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
         </div>

      </div>

      <div [hidden]="!submitted">
         <div class="form-wrapper">
            <div class="title">
               Add Scorecard
            </div>
            <div class="content">
               <h2>Thanks for submitting a scorecard for {{model.ownerUsername}}!</h2>

               <p>Your review will be available to view once {{model.ownerUsername}} has approved it.</p>
               <br>
               <p>Want to make a change? Hit edit below. </p>
               <button class="ok" (click)="submitted=false">Edit</button>
               <button class="cancel" (click)="showForm = false">Close</button>
               <br><br>
            </div>
         </div>
      </div>
   </div>
</div>