﻿@import "../../Common/Variables.scss";


.submission-area {
  position: fixed;
  bottom: 0;
  right: 0;
  background: black;
  max-width: 500px;
  width: 100%;
  border-radius: 3px;

  .open-submission-form {
    position: fixed;
    right: 10px;
    bottom: 10px;


    i {
      font-size: 40px;
      color: white;
      border-radius: 50%;
      background: black;
    }
  }

  .form-container {

    textarea {
      width: 100%;
      height: 150px;
    }

    .title {
      background: $color-squirtred;
      padding: 10px;
      border-radius: 3px 3px 0 0;
    }

    .content {
      padding: 15px;
      background: $color-darkergrey;
    }

    button {
      margin: 5px 10px 2px 0;
      padding: 4px 15px;
    }
  }
}


.error-wrapper {
   height: 24px;

   .alert {
      border-left: 5px solid $color-squirtred;
      padding-left: 5px;
      line-height: 22px;
      margin-top: 3px;
   }
}

.content {
   padding: 10px;
}