﻿<div>
  <h1>Profile List</h1>
  <ul class="profile-list">
    <li *ngFor="let profile of profiles">
      <a routerLink="profiles/{{profile.name}}/scorecards">{{profile.name}}</a>
    </li>
  </ul>
</div>
