﻿/* You can add global styles to this file, and also import other style files */

@import "./app/Common/Common.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
}

